<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head.ejs') %>
	<title>Document</title>
</head>
<body>
	<%- include('partials/header.ejs') %>
	
	<div class="container">
		<div class="main">
			<fieldset>
                <input type="hidden" value="<%= blogs._id %>" name="id">
            </fieldset>
				<div class="main-img">
					<img src="<%= blogs.image %>" alt="">
				</div>
				<div class="main-2">
					<h2><%= blogs.title %></h2>
					<p><%= blogs.description %></p>
					<div class="edit-content" onclick="toggleModal(0)">
						<img src="/img/3dots.svg" alt="" data-index="0">
						<p>Еще</p>
					</div>




					<div onclick="closeModal()" class="modal-window">
                        <div class="modal-content">
                             <div class="modal-content modal1">
                                        <a href="/edit-blog/<%= blogs._id %>">
                                            <p>редактировать</p>
                                        </a>
                               </div>
                            <div class="modal-content modal2">
                                        <a onclick="deleteBlog('<%= blogs._id %>', '<%= blogs.user._id %>')">
                                            <p>удалить</p>
                                        </a>
                            </div>
                         </div>
                    </div>  


				</div>
			<div class="comments">
				<h3>Комментарии</h3>
				<% if(user && user._id) { %>
					<form onsubmit="sendComment(event)" class="add-comment-form">
						<p>Добавить комментарий</p>
						<input type="hidden" value="<%= user._id %>" id="comment_user">
						<input type="hidden" value="<%= blogs._id %>" id="comment_blog">
						<textarea id="comment-text"></textarea>
						<button type="submit">Сохранить</button>
					</form>
				<% } else{ %>
					<p><a href="/login">Войдите</a>
						или 
						<a href="/registration">зарегистрируйтесь</a>
						чтобы оставить комментарий 
					</p>
				<% } %>
				<%
					if(comments){
						comments.forEach(comment => {
				%>			
				
							<div class="comment">
								<p>Автор:
									<a href=""><%= comment.authorId.full_name %></a>
								</p>
								
								<p>Комментарий: <%= comment.text %></p>	
							</div>
						
				<%
						})
					} 
				
				%>
				
			</div>

			
					
		</div>
	</div>
	
	<%- include('partials/script.ejs') %>
</body>
</html>