<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include('../views/partials/head.ejs') %>
</head>
<body>    
    <%- include('../views/partials/header.ejs') %>
    <div class="container-registration">
        <span>Редактировать блог</span>
        <form action="/api/blog-edit" method="POST" class="registration-box mb-3" enctype="multipart/form-data">   
            <fieldset>
                <input type="hidden" value="<%= blog._id %>" name="id">
            </fieldset>
            
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Введите заголовок блога" name="title">
            <select class="form-select" aria-label="Default select example">
                <option selected>Выберите категорию</option>
       
            <% 
                categories.forEach(category => { 
                if(category.id == blog.category){
            %>
                <option value="<%= category._id %>" selected><%= category.name %></option>
            <% 
                }else{
            %>
                <option value="<%= category._id %>"><%= category.name %></option>
            <%
                    }
                })
            %>
           
                
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea pla</label>
            </select>
            
                <div class="yellow-btn">
                    <input type="file" placeholder="Выберите картинку" name="image"> 
                </div>
            </div>
                
            <textarea class="form-control new-blog-description" id="exampleFormControlTextarea1" rows="3" placeholder="Введите описание блога" name="description" ><%= blog.description %></textarea>
           
            <button type="submit">Сохранить</button>
        </form>
    </div>
</body>
</html>