<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include('../views/partials/head.ejs') %>
</head>
<body>    
    <%- include('../views/partials/header.ejs') %>
    <div class="index-container">
        
        <div class="index-blogs shadow p-3 mb-5 bg-white rounded">
                <div class="head-title">
                    <h3>Мои блоги</h3>
                    <p>Популярыне и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                </div>
            <% blogs.forEach(item => { %>
            <div class="index-blogs-container">
                <div class="card-title">
                    <a href="/detail/<%= item._id %>">
                        <h4 class="left"><%= item.title %></h4>
                    </a>
                </div> 
                <% if(item.image){ %>
                    <div class="card-image">
                        <img src="<%= item.image %>" alt="">
                    </div>
                <% } %>
                <div class="edit">
                    <div class="edit-hidden">
                    </div>
                    <div class="edit-content" >
                        <img src="/img/3dots.svg" alt="" onclick="openModal(this)">
                        <p>Еще</p>
                    </div>
                </div>
             
            
                <div class="card-description">
                    <span class="left"><%= item.description %></span>
                </div>

                <div class="index-blogs-data">
                    <img class="date" src="/img/icons/date-index.svg" alt="">
                        <img class="views" src="/img/icons/views-index.svg" alt="">
                        <img class="comments" src="/img/icons/comments-index.svg" alt="">
                        <img class="category" src="/img/icons/category-index.svg" alt="">
                        <div>
                            <h4 style="width: 30px;"><%= item.category.name %></h4>
                        </div>
                        
                        <img class="author" src="/img/icons/author-index.svg" 
                        alt="">
                        <h4><%= item.user.full_name %></h4>
                </div>
            </div>

            <%
            }) %>

       
        </div>
        <div class="index-category shadow p-3 mb-5 bg-white rounded">
            <h3>Категории</h3>
            <% categories.forEach(category => { %>
                <a class="line" href="?categ=<%= category.key %>"><%= category.name %></a>
            <% }) %>
        </div>
     
    </div>
    <div class="pages">
        <%
            for(let i = 0; i < pages; i++){
        %>
                <a href="?page=<%= i %>"><%= i+1 %></a>
        <%        
            } 
        %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>